{% extends "base.html" %}

{% block title %}Benkyo{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <h3>Import Cards</h3>
        <br>
        <p>File format: .xlsx</p>

        <form action="{{ url('cards-import', args=(deck.deck_id,)) }}" method="post" enctype="multipart/form-data" id="form-import">

          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        
          <input type="file" name="upload_file">
          <button class="btn btn-primary" type="submit">Upload</button>
          <a class="btn btn-outline-secondary" href="{{ url('decks-edit', args=(deck.deck_id,)) }}" role="button">Cancel</a>

        </form>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

{% endblock %}