{% extends "base.html" %}

{% block title %}Benkyo{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ static('css/decks_create.css') }}" >
{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <h3>Edit Deck</h3>

        <form action="{{ url('decks-edit', args=(deck.deck_id,)) }}" method="POST" id="form-deck">

          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        
          <div class="form-group">
            <label for="input-deck-name">Deck name</label>
            <input type="text" class="form-control" id="input-deck-name" name="name" autocomplete="off" value="{{ deck.name }}" required>
          </div>

          <div class="form-group">
            <label for="input-deck-name">Is this deck private?</label>
            <select class="form-control" name="private" value="no">
              {% if deck.private %}
                <option value="yes" selected>Yes</option>
                <option value="no">No</option>
              {% else %}
                <option value="yes">Yes</option>
                <option value="no" selected>No</option>
              {% endif %}
              
            </select>
          </div>

          <button type="submit" class="btn btn-outline-primary">Save</button>
          <a class="btn btn-outline-secondary" href="{{ url('decks') }}" role="button">Cancel</a>

        </form>

        <br>
        <h3>Deck Cards</h3>
        <br>

        <a class="btn btn-primary" href="{{ url('cards-add', args=(deck.deck_id,)) }}" role="button">Add a Card</a>
        <a class="btn btn-primary" href="{{ url('cards-import', args=(deck.deck_id,)) }}" role="button">Import Cards</a>
        <a class="btn btn-outline-danger" href="{{ url('cards-delete-all', args=(deck.deck_id,)) }}" role="button">Delete All</a>
        <br><br>

        <table class="table" id="decks">
          <thead>
            <tr>
              <th>#</th>
              <th>Front</th>
              <th>Back</th>
              <th>Status</th>
              <th>Next Review</th>
              <th class="width-small"></th>
              <th class="width-small"></th>
            </tr>
          </thead>
          <tbody>
            {% for card in cards %}
              <tr>
                <td>{{ card.card_id - (first_card.card_id - 1) }}</td>
                <td>{{ card.front }}</td>
                <td>{{ card.back }}</td>
                {% if card.status_cd == 'EASY' %}
                  <td class="text-success">
                {% elif card.status_cd == 'MODERATE' %}
                  <td class="text-warning">
                {% elif card.status_cd == 'HARD' %}
                  <td class="text-danger">
                {% else %}
                  <td>
                {% endif %}
                  {{ card.status_cd }}</td>
                <td>{{ card.date_to_review }}</td>
                <td><a href="{{ url('cards-edit', args=(deck.deck_id, card.card_id)) }}" class="text-center text-warning">Edit</a></td>
                <td><a href="{{ url('cards-delete', args=(deck.deck_id, card.card_id)) }}" class="text-center text-danger">Delete</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

{% endblock %}