{% extends "base.html" %}

{% block title %}Benkyo{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          
          <h3>Deck creation successful!</h3>
          <br>

          <a class="btn btn-outline-secondary" href="{{ url('decks') }}" role="button">Go back to deck list</a>

        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

{% endblock %}