{% extends "base.html" %}

{% block title %}Benkyo{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ static('css/index.css') }}" >
{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <h3>Your Decks</h3>

        <a class="btn btn-primary" href="{{ url('decks-create') }}" role="button" id="btn-create-deck">Create a Deck</a>

        <table class="table" id="decks">
          <thead>
            <tr>
              <th>Deck Name</th>
              <th></th>
              <th class="width-small"></th>
              <th class="width-small"></th>
              <th class="width-small"></th>
            </tr>
          </thead>
          <tbody>
            {% for deck in decks %}
              <tr>
                <td>{{ deck.name }}</td>
                <td>45 cards</td>
                <td><a href="#" class="text-center text-primary">Review</a></td>
                <td><a href="#" class="text-center text-warning">Edit</a></td>
                <td><a href="{{ url('decks-delete-confirm', args=(deck.deck_id,)) }}" class="text-center text-danger">Delete</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

{% endblock %}