{% extends "base.html" %}

{% block title %}Benkyo{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ static('css/decks_create.css') }}" >
{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <h3>Create a Deck</h3>

        <form action="{{ url('decks-create') }}" method="POST" id="form-deck">

          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        
          <div class="form-group">
            <label for="input-deck-name">Deck name</label>
            <input type="text" class="form-control" id="input-deck-name" name="name" autocomplete="off" required>
          </div>

          <div class="form-group">
            <label for="input-deck-name">Is this deck private?</label>
            <select class="form-control" name="private">
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Create</button>
          <a class="btn btn-secondary" href="{{ url('decks') }}" role="button">Cancel</a>

        </form>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

{% endblock %}