{% extends "base.html" %}

{% block title %}Benkyo{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ static('css/index.css') }}" >
{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">

        <h3 class="accent-color">Your Decks</h3>

        <a class="btn btn-primary" href="{{ url('decks-create') }}" role="button" id="btn-create-deck">Create a Deck</a>

        <table class="table" id="decks">
          <thead>
            <tr>
              <th class="accent-color">Deck Name</th>
              <th></th>
              <th class="width-small"></th>
              <th class="width-small"></th>
              <th class="width-small"></th>
            </tr>
          </thead>
          <tbody>
            {% for deck in decks %}
              <tr>
                <td>
                  <a href="{{ url('decks-edit', args=(deck.deck_id,)) }}" class="text-black">{{ deck.name }}</a>
                </td>
                {% if deck.card_count != 1 %}
                  <td>{{ deck.card_count }} cards</td>
                {% else %}
                  <td>{{ deck.card_count }} card</td>
                {% endif %}
                <td><a href="{{ url('review-start', args=(deck.deck_id,)) }}" class="text-center text-primary">Review</a></td>
                <!-- <td><a href="{{ url('decks-edit', args=(deck.deck_id,)) }}" class="text-center text-warning">Edit</a></td> -->
                <td><a href="{{ url('decks-delete-confirm', args=(deck.deck_id,)) }}" class="text-center text-danger">Delete</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
      <div class="col-md-4"></div>
    </div>
  </div>

{% endblock %}