{% extends "base.html" %}

{% block title %}Login - Benkyo{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ static('css/login.css') }}" >
{% endblock %}

{% block content %}

  {% block navbar %}{% endblock %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          
          <br>
          <h1>Login</h1>
          <br>

          <form action="{{ url('login') }}" method="POST">

            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          
            <div class="form-group">
              <label for="input-username" hidden></label>
              <input type="text" class="form-control" id="input-username" placeholder="Username" name="username">
            </div>

            <div class="form-group">
              <label for="input-password" hidden></label>
              <input type="password" class="form-control" id="input-password" placeholder="Password" name="password">
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
            <a class="btn btn-secondary" href="{{ url('register') }}" role="button">Register</a>

          </form>

        </div>
        <div class="col-md-4"></div>
      </div>
    </div>

{% endblock %}