{% extends "base.html" %}

{% block title %}Register - Benkyo{% endblock %}

{% block content %}

  {% block navbar %}{% endblock %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          
          <br>
          <h1>Registration successful</h1>
          <br>

          <a class="btn btn-secondary" href="{{ url('login') }}" role="button">Login</a>

        </div>
        <div class="col-md-4"></div>
      </div>
    </div>

{% endblock %}