{% extends "base.html" %}

{% block title %}Benkyo{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ static('css/review.css') }}" >
{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">

          <br><br>
          <h1 class="text-center display-4" id="question">恋</h1>
          <br>
        
          <div class="form-group">
            <label for="input-answer" hidden>Answer</label>
            <input type="text" class="form-control" id="input-answer" name="answer" autocomplete="off" required autofocus>
          </div>

          <p class="text-center" id="time-elapsed"></p>

          <div class="buttons">
            <button class="btn btn-primary" id="btn-submit">Submit</button>
            <br>
            <a class="btn btn-link" href="{{ url('decks') }}" role="button">Cancel</a>
          </div>

      </div>
      <div class="col-md-4"></div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script>
    var reviewItems = {{ review_items|safe  }};
  </script>
  <script src="{{ static('js/review.js') }}"></script>
{% endblock %}