{% extends "base.html" %}

{% block title %}Benkyo{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <h3>Review Deck: {{ deck.name }}</h3>

        <a class="btn btn-success" href="{{ url('review', args=(deck.deck_id,)) }}" role="button">Start Review</a>

        <form action="{{ url('review-start', args=(deck.deck_id,)) }}" method="POST" id="form-settings">

          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

          <br>
          <h4>Settings</h4>
            
          <div class="form-group">
            <label for="input-question-side">Question Side</label>
            <select name="question_side" id="input-question-side" class="form-control">
              {% if question_side == 'FRONT' %}
                <option value="FRONT" selected>Front</option>
                <option value="BACK">Back</option>
              {% else %}
                <option value="FRONT">Front</option>
                <option value="BACK" selected>Back</option>
              {% endif %}
            </select>
          </div>
            
          <div class="form-group">
            <label for="input-shuffle">Shuffle?</label>
            <select name="shuffle" id="input-shuffle" class="form-control">
              {% if shuffle == 'TRUE' %}
                <option value="TRUE" selected>True</option>
                <option value="FALSE">False</option>
              {% else %}
                <option value="TRUE">True</option>
                <option value="FALSE" selected>False</option>
              {% endif %}
            </select>
          </div>

          <div class="form-group">
            <label for="input-index-start">Cards to Review</label>
            <input type="number" class="form-control" id="input-index-start" name="start_index" autocomplete="off" value="{{ start_index }}" required>
            <label for="input-index-end">to</label>
            <input type="number" class="form-control" id="input-index-end" name="end_index" autocomplete="off" value="{{ end_index }}" required>
          </div>

          <div class="form-group">
            <label for="input-card-limit">Cards to Review</label>
            <input type="number" class="form-control" id="input-card-limit" name="card_limit" autocomplete="off" value="{{ card_limit }}" required>
          </div>

          <div class="form-group">
            <label for="input-format">Format</label>
            <select name="format" id="input-format" class="form-control">
              {% if format == 'CHOICE' %}
                <option value="CHOICE" selected>Choice</option>
                <option value="TYPE">Type</option>
              {% else %}
                <option value="CHOICE">Choice</option>
                <option value="TYPE" selected>Type</option>
              {% endif %}
            </select>
          </div>

          <button type="submit" class="btn btn-outline-primary">Save Settings</button>
          
          <a class="btn btn-outline-secondary" href="{{ url('decks') }}" role="button">Cancel</a>

        </form>

        <br><br>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

{% endblock %}