{% extends "base.html" %}

{% block title %}Benkyo{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <h3>Review Deck: {{ deck.name }}</h3>

        <a class="btn btn-success" href="{{ url('review', args=(deck.deck_id,)) }}" role="button">Start Review</a>

        <form action="{{ url('review-start', args=(deck.deck_id,)) }}" method="POST" id="form-settings">

          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

          <br>
          <h4>Settings</h4>
        
          <div class="form-group">
            <label for="input-front">Tags</label>
              {% for tag in tags %}
                <div class="form-check">
                  {% if selected_tags %}
                    {% if tag in selected_tags %}
                      <input class="form-check-input" type="checkbox" name="tags" value="{{ tag }}" id="{{ tag }}" checked>
                    {% else %}
                      <input class="form-check-input" type="checkbox" name="tags" value="{{ tag }}" id="{{ tag }}">
                    {% endif %}
                  {% else %}
                    <input class="form-check-input" type="checkbox" name="tags" value="{{ tag }}" id="{{ tag }}">
                  {% endif %}
                  <label class="form-check-label" for="{{ tag }}">{{ tag }}</label>
                </div>
              {% endfor %}
            
            <label for="input-question-side">Question Side</label>
            <select name="question_side" id="input-question" class="form-control">
              {% if question_side == 'FRONT' %}
                <option value="FRONT" selected>Front</option>
                <option value="BACK">Back</option>
              {% else %}
                <option value="FRONT">Front</option>
                <option value="BACK" selected>Back</option>
              {% endif %}
            </select>
          </div>

          <button type="submit" class="btn btn-outline-primary">Save Settings</button>
          
          <a class="btn btn-outline-secondary" href="{{ url('decks') }}" role="button">Cancel</a>

        </form>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

{% endblock %}