.btn-primary {
  background-color: #00b7cc;
  border-width: 0px;
  border: #00b7cc;
}

.btn-primary:hover {
  background-color: #006e7a;
}

.btn-primary:focus   {
  background-color: #00b7cc !important;
}

body {
  background-color: #212121;
  color: white;
}

.accent-color {
  color: #00b7cc
}

input {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  outline: 0 none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
.form-control {
  background-color: #212121;
  color: white;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.form-control:focus {
  background-color: #212121;
  color: white !important;
}

