.btn-primary {
  background-color: #00b7cc;
  border-width: 0px;
  border: #00b7cc;
}

.btn-primary:hover {
  background-color: #006e7a;
}

.btn-primary:focus   {
  background-color: #006e7a !important;
}

body {
}

.accent-color {
  color: #00b7cc
}

input {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  outline: 0 none;
}

.text-black {
  color: #00b7cc;
}