/* Primary Color: #6002ee (requires white foreground */
/* Secondary Color: ##90ee02 */

.benkyo-navbar {
  background-color: #006e7a;
  margin-bottom: 30px;
}

#benkyo-heading {
  float: left;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#link-logout {
  float: right;
  margin-top: 25px;
}

#link-logout:link {
  color: white;
}

#link-logout:visited {
  color: white;
}